@use '../../scss/main.scss' as *;

@mixin section-title-style {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.translate {
  @include page-style;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 4rem;

  &__example-sentence {
    grid-column: 1 / -1;
  }

  @media (max-width: $breakpoint-tablet-vertical) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $breakpoint-tablet-vertical) {
    &:not(:has(.translate__synonym)):has(.translate__more-translation) {
      .translate__example-sentence {
        grid-row: 2;
        grid-column: 1;
      }
    }
  }

  &__input,
  &__translation {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    .language {
      display: flex;
      align-items: center;
      column-gap: 1.2rem;
      width: fit-content;

      &.clickable {
        &:hover {
          cursor: pointer;
        }
      }

      &__text {
        font-size: 1.6rem;
      }

      &__icon {
        width: 1.2rem;
        transform: scaleY(-1);
        fill: $color-black;
        transition: transform 0.15s ease-out;

        &.active {
          transform: scaleY(1) translateY(1px);
        }
      }
    }

    .input-container {
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc((1.5em * 6) + 6.1rem);
      row-gap: 0.8rem;
      outline: 1px solid $color-outline;
      border-radius: 0.8rem;
      background: #fff;

      textarea {
        border: none;
        outline: none;
        resize: none;
        width: 100%;
        height: 100%;
        padding: 0 1.2rem;
        margin-top: 1rem;
        scrollbar-width: none;
        font-family: $font-content;

        &::placeholder {
          color: $color-placeholder;
        }

        &:disabled {
          background: #fff;
          margin-bottom: 1rem;
        }
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 1.2rem 1rem;

        &--counter {
          font-size: 1.2rem;
          color: $color-placeholder;
        }

        &--button {
          background: $color-primary;
          color: $color-white;
          font-size: 1.4rem;
          font-weight: 500;
          padding: 0.6rem 1.2rem;
          border-radius: 0.6rem;
          transition: background 0.15s ease-out;
          min-width: 9rem;
          text-align: center;

          &:hover {
            background: adjust($color: $color-primary, $lightness: -5%);
          }
        }
      }
    }
  }

  &__synonym,
  &__more-translation {
    .title {
      @include section-title-style;
    }

    .list-container {
      list-style-type: none;
      display: flex;
      column-gap: 1.2rem;
      row-gap: 1.2rem;
      flex-wrap: wrap;

      .item {
        font-size: 1.4rem;
        padding: 0.6rem 1.6rem;
        background: $color-button;
        border-radius: 1rem;
        white-space: nowrap;
        transition: background 0.15s ease-out;
        font-family: $font-content;

        &:hover {
          background: adjust($color: $color-button, $lightness: -3%);
        }
      }
    }
  }

  &__example-sentence {
    .title {
      @include section-title-style;
    }

    .list-container {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;

      .item {
        font-family: $font-content;

        .sentence {
          font-size: 1.6rem;
        }

        .translation {
          font-size: 1.4rem;
          color: #4f7396;
        }
      }
    }
  }
}
