@use '../animations/animations' as *;
@use '../variables/variables' as *;

@mixin spinner-container($size: 4.8rem) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    font-size: $size;
  }
}
