@use '../../scss/main.scss' as *;

.spinner {
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    height: 1em;
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid currentColor;
    border-right: 3px solid transparent;
    animation: spin 1s linear infinite;

    &.thin {
      border-top-width: 2px;
      border-right-width: 2px;
    }
  }
}
