@use '../../scss//main.scss' as *;

.home {
  @include page-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    display: inline-block;
    height: 7.2rem;
    margin-bottom: 2rem;

    svg {
      height: 100%;
      width: auto;
      animation: spin infinite 20s linear;
    }
  }

  button {
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    background: $color-primary;
    color: $color-white;
    min-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: adjust($color: $color-primary, $lightness: -5%);
    }
  }
}
