@use './scss/main.scss' as *;

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__spinner-container {
    @include spinner-container;
  }

  .Toastify {
    font-size: 1.6rem;

    &__toast {
      border-radius: 0.8rem;
      font-family: $font-primary;
      white-space: pre-line;
    }

    &__toast-icon {
      width: 1.8rem;
      height: 1.8rem;
    }

    @media (min-width: $breakpoint-desktop-small) {
      font-size: 1.4rem;

      &__toast {
        min-height: 6rem;
      }

      &__toast-icon {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}
